.button{
    width:10rem;
    height: 3rem;
    margin-left: 27%;
    margin-top: 2rem;
}

.label{
    width: 20rem;
    margin-left: 5%;
}

.button2{
    width: 8rem;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 0.4rem;
}