.box{
    border-width: 0.1rem;
    width:15rem ;
    height:10rem ;
    border-radius:1rem ;
    border-color: rgb(173, 172, 172);
    border-style: solid;
    margin-left: 19%;
    margin-top: 4%;
    
}

h6{
    margin-left: 1.3rem;
    margin-top: 1.5rem;
    color: rgb(90, 88, 88);
    font-weight: bold;
    

}

.img1{
    width: 10rem;
    height: 10rem;
    margin-left: 2.5rem;
    margin-top: -0.5rem;
}
.img2{
    width: 10rem;
    height: 9rem;
    margin-left: 2.5rem;
    margin-top: 0;
}

#b1{
width: 10rem;
height: 10rem;
}
p{
color: darkgray;
}
.p1{
 margin-left: 4.8rem;
 margin-top: -1rem;
}
.p2{
 margin-left: 5.5rem;
 margin-top: -0.5rem;
}
.p3{
 margin-left: 4rem;
 margin-top: -1rem;
}